### Titanic Dataset

In [ ]:
import pandas as pd
from sklearn import naive_bayes
from sklearn.metrics import confusion_matrix
from sklearn.model_selection import train_test_split

Read in the actual dataset of 887 Titanic passengers.

In [29]:
df = pd.read_csv('data/titanic.csv')
print(df.shape)
df.head()

(887, 8)

,Survived,Pclass,Name,Sex,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare
0,0,3,Mr. Owen Harris Braund,male,22.0,1,0,7.2500
1,1,1,Mrs. John Bradley (Florence Briggs Thayer) Cum...,female,38.0,1,0,71.2833
2,1,3,Miss. Laina Heikkinen,female,26.0,0,0,7.9250
3,1,1,Mrs. Jacques Heath (Lily May Peel) Futrelle,female,35.0,1,0,53.1000
4,0,3,Mr. William Henry Allen,male,35.0,0,0,8.0500

### Question 1:
Create an input matrix containing the explanatory variables (including a one-hot matrix of the Sex column and deleting the name column) and use it to predict the response variable, Survived, using the Naive-Bayes algorithm.

In [1]:
#insert

### Question 2:
How many dead passengers were incorrectly predicted to survive? How many survivors were incorrectly predicted to be deceased?

In [2]:
#insert

### Question 3:
Would you predict survival or death of a 3rd class, 18 year old, male passenger who had no family aboard and paid $1?

Would you predict survival or death of a 1st class, 18 year old, female passenger who had no family aboard and paid $50?

For each of these questions, also print the probabilities estimates using predict_proba.

In [3]:
#insert

### Question 4: 
Return to the golf example from yesterday. Write a function called NaiveBayes that takes in an outlook, temp, humidity, and wind, and returns whether we predict that we will play golf or not. Within the function, print both the probabilities of yes or no. If you want to be fancy, you can make this function more general, but it's okay to make this very specific to the golf example.

Here is an example of correct output:
```python
NaiveBayes('Rainy', 'Hot', 'Normal', True)
```

```
Prob Yes: 0.6067961165048542
Prob No: 0.3932038834951457
```

In [ ]:
#insert
df = pd.read_csv("data/golf.csv")
df.head()